*{
  font-family: "Gill Sans", sans-serif;
}

h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

h2 {

}

h3 {

}


#intro {
  margin: 5rem auto;
  background: linear-gradient(#fefefe, #efefef);
  border-radius: 50rem;
  border: 1px #dedede solid;
  padding: 1rem;
  box-shadow: 0 0 4rem rgba(0, 0, 0, .10);
}

.aligncenter {
  text-align: center;
}
