*{
  font-family: "Gill Sans", sans-serif;
}

h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

h2 {

}

h3 {
  margin-top: 0;
}


#intro {
  width: 100%;
  height: 50vh;
  margin: 0 0 4rem 0;
  background: url("../images/chinese-food.jpg") no-repeat center;
  background-size: cover;
  box-shadow: 0 0 4rem rgba(0, 0, 0, .10);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1;
}

.faded {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.intro-body {
    padding: 2rem;
    width: auto;
    height: auto;
}

#intro h1, #intro h3 {
  color: #fff;
}

#intro h3 {
  margin-bottom: 2rem;
}

#lazy-susan {
  background: #f2f2f2;
  padding: 2rem;
  border-radius: 15px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 4rem auto;
}

.aligncenter {
  text-align: center;
}
